* {
    color: #585858;
}

body {
    /* colors: #ECC7C7 #FFF7BD #BDFFBD #F2BDFF #FFE5BD #BDFDFF #FFD8E8 */
    background-color: #ecc7c7;
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'title title title title title title'
        'todo todo note note note goal'
        'todo todo note note note album'
        'todo todo note note note album'
        'todo todo note note note album';
}

h1 {
    color: black;
    font-size: 3.5vh;
    margin: 1vh;
}

h2 {
    color: black;
    font-size: 2vh;
}

/* Header Block */

#header {
    grid-area: title;
    display: grid;
    height: 9vh;

    justify-items: stretch;
    grid-template-areas: 'back one two date three four headerHome';
}

#weekView {
    grid-area: back;
    font-size: 3.75vh;
}

#date {
    grid-area: date;
    justify-self: center;
    font-size: 5vh;
}

#logo1 {
    grid-area: one;
    margin: 1vh;
    height: 10vh;
}

#logo2 {
    grid-area: two;
    margin: 1vh;
    height: 10vh;
}

#logo3 {
    grid-area: three;
    margin: 1vh;
    height: 10vh;
}

#logo4 {
    grid-area: four;
    margin: 1vh;
    height: 10vh;
}

#home {
    grid-area: headerHome;
    margin: 2vh;
    height: 8vh;
}

/* Todo Block */

#todo {
    grid-area: todo;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 78vh;

    /* width: 25vw; */
}

#addTodo {
    background-color: transparent;
    border: none;
    font-size: 3vh;
}

/* Note Block */

#notes {
    grid-area: note;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 78vh;
    /* width: 20vw; */
}

/* Goal Reminder Block */

#goalReminder {
    grid-area: goal;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    border-color: black;

    display: grid;
    grid-template-rows: [title] 10% [week] 30% [month] 30% [year] 30%;
}

#goalReminder + h1 {
    grid-row-start: title;
}

#weekGoal {
    grid-row-start: week;
}

#monthGoal {
    grid-row-start: month;
}

#yearGoal {
    grid-row-start: year;
}

/* Photo Album Block */

#photo-album {
    grid-area: album;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
}

#addPhoto {
    background-color: transparent;
    border: none;
    font-size: 2.75vh;
}

/* Misc */
