:root {
    --bg-color: white;
}
* {
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: #585858;
}
body {
    background-color: var(--bg-color);
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'head head head'
        'goal goal goal'
        'goal goal goal';
}
#goalsHeader,
#monthHeader {
    text-align: center;
    font-size: 3.5vh;
}
#header {
    grid-area: head;
    display: grid;
    margin: 1vh;

    grid-template-areas: 'back . . .  . headerHome';
}

#house {
    grid-area: headerHome;
    justify-self: right;
}

#homeButton {
    height: 8vh;
    margin: 2vh;
}

#homeButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

#index {
    grid-area: back;
}

#index > a {
    font-size: 3.5vh;
}

#name {
    grid-area: goal;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    justify-content: space-evenly;
}

#goalSection {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 45vw;
}

#goals {
    align-self: center;
    background-color: white;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    margin: 1vw;
    padding: 2vw;
    height: 60vh;
    max-height: 50vw;
    width: 70%;
    overflow: auto;
}

.entry-form {
    height: 3vh;
    padding: 0.7vh;
}

.entry-form-text {
    height: 80%;
    width: 15vw;
    font-size: 1.5vh;
}

.entry-form-button {
    height: 100%;
    width: 3.5vw;
    min-width: 5vh;
    font-size: 1.5vh;
    background-color: var(--bg-color);
    border: none;
    border-radius: 0.5vh;
}

#monthView {
    padding: 0 4% 4%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vw;
    height: 55vh;
    align-content: center;
    flex-grow: 3;
    max-width: 40%;
}

#months > h2 {
    font-size: 2.5vh;
}

#months > h2 > a {
    text-decoration: none;
}

#months {
    padding: 1vw;
    height: 70vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}

/* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
::-webkit-scrollbar {
    /* width: 0px; */
    display: none;
}
#January,
#February,
#March {
    background: #c2e0f5 url(../Images/BlueDino.svg) no-repeat 5% 30%;
    background-size: 140% 140%;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    height: 10vh;
}
#April,
#May,
#June {
    background: #aad6a2 url(../Images/GreenDino.svg) no-repeat 5% 30%;
    background-size: 140% 140%;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    height: 10vh;
}
#July,
#August,
#September {
    background: #ffdea2 url(../Images/YellowDino.svg) no-repeat 5% 30%;
    background-size: 140% 140%;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    height: 10vh;
}
#October,
#November,
#December {
    background: #fecf94 url(../Images/OrangeDino.svg) no-repeat 5% 30%;
    background-size: 140% 140%;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    height: 10vh;
}
