body {
    background-color: #ecc7c7;
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'title title title'
        'name name name'
        'name name name';
}
#goalsHeader, #monthHeader{
    text-align: center;
}
#index {
    grid-area: title;
    display: grid;
    justify-items: stretch;
}

img {
    position: absolute;
    right: 15px;
    top: 20px;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

#name {
    grid-area: name;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 'goal empty month';
    grid-template-columns: 30vw 1fr 40vw;
}
#goals {
    grid-area: goal;
    background-image: url(../Images/AllSeasonsBorderWide.svg);
    background-size: fit-content;
    background-repeat: no-repeat;
    margin-left: 5vw;
    padding: 1vw;
    border-radius: 10mm;
    /*border-style: solid;
    border-width: 1mm;*/
    height: 60vh;
}
#entry {
    grid-area: goal;
    margin: 3vw;
    padding: 3vw;
    border-radius: 10mm;
    background-color: white;
    background-size: 10vw, auto;
}
#months {
    grid-area: week;
    margin-right: 5vw;
    padding: 1vw;
    /*border-style: solid;
    border-width: 1mm;*/
    height: 58vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}

/* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
::-webkit-scrollbar {
    width: 0px;
}
#January, #February, #March {
    background-image: url(../Images/WinterMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#April, #May, #June {
    background-image: url(../Images/SpringMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#July, #August, #September {
    background-image: url(../Images/SummerMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#October, #November, #December {
    background-image: url(../Images/FallMonth.svg);
    background-position: center;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
