body {
    background-color: #ecc7c7;
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'title title title'
        'name name name'
        'name name name';
}

#header {
    grid-area: title;
    display: grid;
    justify-items: stretch;
}
#name {
    grid-area: name;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 'goal empty week';
    grid-template-columns: 40vw 1fr 40vw;
}
#goals {
    grid-area: goal;
    background-image: url(../Images/FallBorder.svg);
    background-size: fit-content;
    background-repeat: no-repeat;
    margin: 5vw;
    padding: 1vw;
    border-radius: 10mm;
    /*border-style: solid;
    border-width: 1mm;*/
    height: 90vh;
}
#entry {
    grid-area: goal;
    margin: 3vw;
    padding: 3vw;
    border-radius: 10mm;
    background-color: white;
    background-size: 10vw, auto;
}
#months {
    grid-area: week;
    grid-template-areas:
        'week'
        'week'
        'week'
        'week';
    margin: 5vw;
    padding: 1vw;
    /*border-style: solid;
    border-width: 1mm;*/
    height: fit-content;
}
#January,
#February,
#March {
    grid-area: week;
    background-image: url(../Images/WinterMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#April,
#May,
#June {
    grid-area: week;
    background-image: url(../Images/SpringMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#July,
#August,
#September {
    grid-area: week;
    background-image: url(../Images/SummerMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
#October,
#November,
#December {
    grid-area: week;
    background-image: url(../Images/FallMonth.svg);
    background-position: center;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
