/*
 * Page-wide styles
 */

/* Global styles */
* {
    background-color: white;
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: #585858;
}

/* Body's only child */
#body-wrapper {
    display: flex;
    flex-direction: row;
}

/* absolute styling because we want header to be fixed height */
#topbar {
    padding-top: 10px;
    padding-bottom: 4vw;
    background-image: url(../Images/Logo.svg);
    background-repeat: repeat-x;
    background-origin: padding-box;
    background-size: 5vw;
}

/**
* Content styling
*/

/**
Structure
-right-bar
  -title
  -right-bar-inner
    -today-button
    -content
*/

#right-bar {
    /* padding-left: 8vw; */
    margin-right: 8vw;
    height: 65vh;
    width: 20vw;
    flex-grow: 1;
    /* background-color: #666; */
}

#right-bar h1 {
    font-size: 2.5vw;
    text-align: center;
}

#right-bar-inner {
    border-style: solid;
    border-color: #585858;
    border-width: 0.2vw;
    border-radius: 3vw;
    padding: 2vw;
}

#content {
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
    width: auto;
    margin: 1vw 2vw;
}

.horiz {
    display: inline-block;
}

.collapsible_child {
    display: none;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 10px;
}

.monthlink {
    display: inline-block;
}

#today-button {
    background-color: #e4e4e4;
    border: none;
    color: #585858;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    margin: auto;
    border-radius: 0.7em;
    display: block;
    margin: auto;
    width: 70%;
}

#today-button:hover {
    background-color: #cecece;
}

button {
    background-color: #e4e4e4;
    border: none;
    color: #585858;
    /*to make the [>] / [v] look consistent */
    font-family: sans-serif;
    font-size: 1.5vw;
    border-radius: 0.1em;
    padding: 0.1vw 0.5vw;
}

#content a {
    text-decoration: none;
    padding-left: 1vw;
    font-size: 1.5vw;
}

#content > *{
    margin-bottom: 0.5vw;
}

/* year button group */
.year {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* calendar formatting styles */

/** 
* Calendar styling
*/

/* calendar wrapper */
#left-bar {
    padding: 4%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vw;
    height: 55vh;
    align-content: center;
    flex-grow: 1;
}

#left-bar h1 {
    font-size: 2.5vw;
    text-align: center;
}

#calendar p {
    background-color: lightslategray;
    font-size: x-large;
    position: relative;
}

ul {
    list-style-type: none;
}

/* Month header */
.month_header {
    padding: 70px 25px;
    width: 90%;
    background: #1e942d;
    text-align: center;
    height: 8vh;
}
/* Month header's text */
.month_label {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Sun-Sat) */
.weekdays_label {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekday {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days_field {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.day {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: large;
    color: black;
}

/* Highlight the "current" day */
.today {
    padding: 5px;
    background: #1e942d;
    color: white !important;
}
