body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Montserrat;
}
.wrapper{
    background: black;
    display:grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 1fr 3fr;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}
.calendar-wrapper{
    background: #C2F7B5;
    /* display:grid; */
    margin: 0px;
    padding: 0px;
    /* grid-template-rows: 1fr 3fr; */
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    display: flex;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}
.header{
    background-image: url("../Images/weekly_header.jpg");
    display: flex;
    flex-direction: column;
    min-height: 0;
}
#header_date{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-size: 7vh;
    padding-left: 7%;
    padding-top: 2%;
}

.content{
    display:grid;
    grid-template-columns: 4fr 3fr 3fr;
}
.weekly_preview{
    background: #C2F7B5;
}
.monthly_preview{
    background: #C2F7B5;
    display: grid;
    /* grid-template-rows: 2fr 8fr; */
}
.photo_album{
    background: pink;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.photo_header{
    display:grid;
    grid-template-columns: 8fr 2fr;
    text-align: left;
}
#photo_title{

}

/* Todo Block */

#todo {
    grid-area: todo;
    background-color: white;
    margin: 1vw;
    padding: 1vw 3vw 1vw 2vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 75vh;
    width: 80%;
    overflow: auto;

    min-height: 35vw;
}

#todo::-webkit-scrollbar {
    display: none; /* color of the tracking area */
}

#addTodo {
    background-color: transparent;
    border: none;
    font-size: 3vh;
}



/* Calendar Block */

/* TODO: fix calendar sizes */
.calendar-div {
    /* position: relative; */
    width: 80vw;
    /* height: 60vh; */
    right: 15px;
    top: 10px;
    /* height: 10vh; */
    /* padding: 5vh .5vw .5vw; */
    padding-top: 5vh;
}

/* Month header */
.calMonthHeader {
    height: 10vh;
    /* width: 50vw; */
    padding: 2vw 25px;
    background: #585858;
    color: white;
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 2vw 2vw 0 0;
}

/* Month header's text */
.calMonthLabel {
    background-color: #585858;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.7vw;
    float: left;
    margin: auto;
}

.calDropBtn {
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2.5vw;
    color: white;
    background: #585858;
}

.calDropBtn:hover {
    color:#C2F7B5;
}

.show-content {
    display: none;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Weekdays (Sun-Sat) */
.calWeekdaysLabel {
    margin: 0;
    /* padding: 0.8vw 0 0; */
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
}

.calWeekday {
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 1.8vw;
    background: none;
}

/* Days (1-31) */
.calDaysField {
    padding-bottom: 2vh;
    background: white;
    margin: 0;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    border-radius: 0 0 2vw 2vw;
}

.calDay {
    list-style-type: none;
    /* display: inline-block; */
    width: 13.6%;
    height: 10vh;
    text-align: start;
    font-size: 1.25vmax;
    color: black;
    background: none;
    padding: 0.8vw 0;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
}

.calDay:hover {
    cursor: pointer;
    outline: 2px solid #C2F7B5;
}

.calBlankDay {
    background: none;
}

/* 
    Highlight the "current" day 
    We can change the color to be based on the theme color
*/
.calToday {
    background: #C2F7B5;
    /* border-radius: 0.5vw; */
}

.calendar-div>ul {
    list-style-type: none;
}