* {
    color: #585858;
}

body {
    background-color: #ecc7c7;
    display: grid;
    justify-items: stretch;

    grid-template-areas:
    'head head head'
    'goal day day'
    'goal day day';
}

h1 {
    font-size: 3.75vh;
}

h2 {
    font-size: 2.75vh;
}

/* Header Section */

header {
    grid-area: head;
    height: 5vh;
}

/* Goal Section */

#goalSection {
    grid-area: goal;
    display: grid;
    justify-items: center;

    grid-template-rows: [frontGoal] 7% [backGoal] 93%;
}

#goalSection + h2 {
    grid-row-start: frontGoal;
}

#weeklyGoals {
    grid-row-start: backGoal;
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 75vh;
}

/* Day List Start */

#dayList {
    grid-area: day;
    display: grid;
    justify-items: stretch;

    grid-template-rows: [frontDay] 7% [row1] 30% [row2] 30% [row3] 30%;

    grid-template-areas: 
    '. dayTitle .'
    'day1 day2 day3'
    'day4 day5 day6'
    'day7 . pic';
}

#dayTitle {
    grid-area: dayTitle;
    grid-row-start: frontDay;
    justify-self: center;
}

#day1, #day2, #day3, #day4, #day5, #day5, #day6, #day7 {
    background-color: #FFe5BD;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    text-align: center;
}

#day1 {
    grid-area: day1;
    grid-row-start: row1;
}

#day2 {
    grid-area: day2;
    grid-row-start: row1;
}

#day3 {
    grid-area: day3;
    grid-row-start: row1;
}

#day4 {
    grid-area: day4;
    grid-row-start: row2;
}

#day5 {
    grid-area: day5;
    grid-row-start: row2;
}

#day6 {
    grid-area: day6;
    grid-row-start: row2;
}

#day7 {
    grid-area: day7;
    grid-row-start: row3;
}

#pic {
    grid-area: pic;
    grid-row-start: row3
}