:root {
    --bg-color: white;
    --clr-bg-hover: hsla(0, 0%, 0%, 0.1);
}
* {
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: #585858;
}
body {
    background-color: var(--bg-color);
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'head head head'
        'goal goal goal'
        'goal goal goal';
}

#goalsHeader,
#weekHeader {
    text-align: center;
    font-size: 3.5vh;
    color: black;
}

#header {
    grid-area: head;
    display: grid;
    margin: 1vh;

    grid-template-areas: 'back . . .  . headerHome';
}

#house {
    grid-area: headerHome;
    justify-self: right;
}

#homeButton {
    margin: 2vh;
    height: 8vh;
}

#homeButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

#year {
    grid-area: back;
}

#year > a {
    font-size: 3.5vh;
    text-decoration: none;
}

#year a:hover {
    text-decoration: underline;
}

#name {
    grid-area: goal;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    justify-content: space-evenly;
}

#goalSection {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

#goals {
    position: relative;
    align-self: center;
    background-color: white;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;

    margin: 1vw;
    padding: 2vw;
    height: 60vh;
    max-height: 50vw;
    width: 70%;

    overflow: auto;
}

/* add goal form styling */
.entry-form {
    height: 3vh;
    padding: 0.7vh;
}

.entry-form-text {
    height: 80%;
    width: 15vw;
    font-size: 1.5vh;
}

.entry-form-button {
    height: 100%;
    width: 3.5vw;
    min-width: 5vh;
    font-size: 1.5vh;
    background-color: var(--bg-color);
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
}

#entry,
#entry-button {
    color: black;
}

#goals::-webkit-scrollbar {
    display: none; /* color of the tracking area */
}

/** 
* Calendar styling
*/

/* calendar wrapper */
#weekView {
    padding: 0 4% 4%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vw;
    height: 55vh;
    align-content: center;
    flex-grow: 3;
    max-width: 40%;
}

ul {
    list-style-type: none;
}

#calendar {
    height: 20vw;
}

/* Month header */
.month_header {
    display: flex;
    padding: 2vw 25px;
    background: #585858;
    text-align: center;
    border-radius: 2vw 2vw 0 0;
}

/* Month header's text */
.month_label {
    display: flex;
    color: white;
    background-color: #585858;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.7vw;
    margin: auto;
}
.month_arrow {
    display: flex;
    color: white;
    background-color: #585858;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.7vw;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 0%;
}
.month_arrow:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Weekdays (Sun-Sat) */
.weekdays_label {
    margin: 0;
    padding: 0.8vw 0 0;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.weekday {
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 1.8vw;
    background: none;
}

/* Days (1-31) */
.days_field {
    padding: 0 0.5vw 0.5vw;
    background: #eee;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0 0 2vw 2vw;
}

.day {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size: 2vw;
    color: black;
    background: none;
    padding: 0.8vw 0;
    border-radius: 0.5vw;
    font-weight: lighter;
}

.day:hover {
    cursor: pointer;
    background-color: var(--clr-bg-hover);
}

.blank_day,
.blank_day:hover {
    background: none;
}

/* 
    Highlight the "current" day 
    We can change the color to be based on the theme color
*/

.today,
.today:hover {
    background: var(--bg-color);
    border-radius: 0.5vw;
}

.today {
    font-weight: bold;
}

#cal-week-wrapper {
    display: flex;
    flex-direction: row;
}
