body {
    background-color: #ecc7c7;
    display: grid;
    justify-items: stretch;

    grid-template-areas:
        'title title title'
        'name name name'
        'name name name';
}

#goalsHeader,
#weekHeader {
    text-align: center;
}

#header {
    grid-area: title;
    display: grid;
    justify-items: stretch;
}

img {
    position: absolute;
    right: 15px;
    top: 20px;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

#name {
    grid-area: name;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 'goal empty week';
    grid-template-columns: 40vw 1fr 40vw;
}
#goals {
    grid-area: goal;
    background-image: url(../Images/FallBorderWide.svg);
    background-position-x: center;
    background-size: fit-content;
    background-repeat: no-repeat;
    margin: 5vw;
    padding-left: 1vw;
    border-radius: 10mm;
    /*border-style: solid;
    border-width: 1mm;*/
    height: 70vh;
}
#entry {
    grid-area: goal;
    margin: 3vw;
    padding: 3vw;
    border-radius: 10mm;
    background-color: white;
    background-size: 10vw, auto;
}
#weeks {
    grid-area: week;
    grid-template-areas:
        'week'
        'week'
        'week'
        'week';
    margin-right: 5vw;
    padding: 1vw;
    /*border-style: solid;
    border-width: 1mm;*/
    height: fit-content;
}
#week1,
#week2,
#week3,
#week4 {
    grid-area: week;
    background-image: url(../Images/FallMonth.svg);
    margin: 1vw;
    padding: 1vw;
    border-radius: 10mm;
    border-style: solid;
    border-width: 1mm;
    height: 12vh;
}
