body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Montserrat;
}
.wrapper {
    background: black;
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 1fr 3fr;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}
.calendar-wrapper {
    background: #c2f7b5;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: center;
    width: 100vw;
}

.calendar-bg {
    width: 100vw;
    height: 100vh;
    background: #c2f7b5;
    display: inline-block;
}

.header {
    background-image: url('../Images/weekly_header.jpg');
    display: flex;
    flex-direction: column;
    min-height: 0;
}
#header_date {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-size: 7vh;
    padding-left: 7%;
    padding-top: 2%;
}

.content {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
}
.weekly_preview {
    background: #c2f7b5;
}
.monthly_preview {
    background: #c2f7b5;
    display: grid;
    /* grid-template-rows: 2fr 8fr; */
}
.photo_album {
    background: pink;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.photo_header {
    display: grid;
    grid-template-columns: 8fr 2fr;
    text-align: left;
}
#photo_title {
}

/* Todo Block */

#todo {
    grid-area: todo;
    background-color: white;
    margin: 1vw;
    padding: 1vw 3vw 1vw 2vw;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    height: 75vh;
    width: 80%;
    overflow: auto;

    min-height: 35vw;
}

#todo::-webkit-scrollbar {
    display: none; /* color of the tracking area */
}

#addTodo {
    background-color: transparent;
    border: none;
    font-size: 3vh;
}

/* Calendar Block */

/* TODO: fix calendar sizes */
.calendar-div {
    width: 75vw;
    right: 15px;
    top: 10px;
    padding-top: 2vh;
}

/* Month header */
.calMonthHeader {
    height: 6vmax;
    padding-top: 2vmax;
    padding-left: 1vw;
    background: #585858;
    color: white;
    border-radius: 2vw 2vw 0 0;
}

/* Month header's text */
.calMonthLabel {
    background-color: #585858;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    float: left;
    margin: auto;
}

.calDropBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    color: white;
    background: #585858;
    border: none;
    outline: none;
}

.calDropBtn:hover {
    color: #c2f7b5;
}

.show-content {
    display: none;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.month-link:hover {
    cursor: pointer;
    color: #c2f7b5;
    text-decoration: underline;
}

.day-notes {
    text-align: center;
}

/* Weekdays (Sun-Sat) */
.calWeekdaysLabel {
    margin: 0;
    background-color: white;
    display: flex;
}

.calWeekday {
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 1.8vw;
    background: none;
}

/* Days (1-31) */
.calDaysField {
    padding-bottom: 2vh;
    background: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 2vw 2vw;
}

.calDay {
    list-style-type: none;
    width: 13.6%;
    height: 6vmax;
    text-align: start;
    font-size: 1.25vmax;
    color: black;
    background: none;
    padding-top: 2px;
    padding-left: 2px;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    text-decoration: none;
}

.calDay:hover {
    cursor: pointer;
    outline: 2px solid #c2f7b5;
}

.calBlankDay {
    background: none;
}

/* 
    Highlight the "current" day 
    We can change the color to be based on the theme color
*/
.calToday {
    background: #c2f7b5;
}

ul {
    list-style-type: none;
}

#goalReminder {
    background-color: white;
    border-radius: 2vw;
    /* border-style: solid; */
    border-width: 1mm;
    /* border-color: black; */
    margin-top: 2vh;
    width: 75vw;

    display: grid;
    grid-template-columns: [month] 50% [year] 50%;
}

#goalReminder + h1 {
    grid-row-start: title;
}

#monthGoal {
    grid-row-start: month;
    /* padding-left: 10px; */
    height: 8.5vmin;
    max-height: 10vmin;
    overflow: auto;
}

#monthGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}

#yearGoal {
    grid-row-start: year;
    height: 8.5vmin;
    max-height: 10vmin;
    overflow: auto;
}

#yearGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}
