* {
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: #585858;
    font-size: larger;
}

body {
    background-color: #d4ffd4;
}

#dino-align {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

/* TODO:  */
#content {
    margin-left: 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    background-color: white;
    border-style: solid;
    border-color: #585858;
    border-width: 0.3vw;
    border-radius: 1.5vw;
    position: relative;
}

#content > * {
    box-shadow: 0;
}

#content > h3 {
    flex-grow: 1;
    font-size: 3.5vw;
    margin: 1% 1vw 0.5%;
    height: 25%;
}

#big-logo {
    width: 30vw;
    margin-left: 7.5vw;
}

#login-button {
    background-color: #1e942d;
    color: black;
    border-radius: 0.5vw;
    flex-grow: 1;
    font-size: 5vh;
    margin: 0.5% 1vw;
    height: 20%;
}

#reset-password-button {
    background-color: #1e942d;
    color: black;
    border-radius: 0.5vw;
    flex-grow: 1;
    font-size: 5vh;
    margin: 0.5% 1vw;
    height: 20%;
}

input {
    background-color: white;
    
    flex-grow: 1;
    font-size: 3vw;
    margin: 1%;
    height: 10%;

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

button[id=login-button] {
    background-color: #46da46;
    color: rgb(234, 240, 234);
  }

#switch-screen {
    font-size: medium;
    text-align: left;
    color: black;
    width: parent;
    background: none;
    border: none;
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}