* {
    font-family: 'Montserrat', Montserrat;
    font-weight: bold;
    color: #585858;
    /* font-size: larger; */
}
body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 60%;
    background-color: white;
    right: 0px;
    position: absolute;
    top: 20%;
}

#content > h3 {
    flex-grow: 1;
    font-size: 2.5vw;
    margin: 1% 1vw 0.5%;
    height: 10%;
    text-align: center;
}

#big-logo {
    /*background-repeat: no-repeat;*/
    width: 40%;
    position: absolute;
    left: 0;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}

#title {
    position: relative;
    right: 11vh;
}
#login-container {
    right: 10vh;
    margin-top: 5%;
    position: relative;
    height: 100%;
}

#login-center {
    margin-top: 2%;
    position: relative;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 60%;
    width: 50%;
}

#button-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
}
/*
 * Sophia's changes
 * we should decide between this or Shawn's changes below
 */
#google-button {
    background-color: white;
    border-color: #38b593;
    border-radius: 5vw;
    flex-grow: 1;
    font-size: 2vh;
    width: 100%;
    height: 6vh;
    transition: all 0.3s ease 0s;
}
/* this code taken from https://codepen.io/seme332/pen/reJOwo */
#google-button:hover {
    box-shadow: 0px 15px 20px #dddddd;
    transform: translateY(-2px);
}
#google-button img {
    width: 11%;
    height: 80%;
    margin-left: 4px;
    margin-right: 4px;
    flex-grow: 1;
    vertical-align: middle;
}

#sign-in-email-text {
    font-size: 1vw;
    text-align: center;
}
.outside-input-text {
    font-size: 1vw;
}

/*
 * Shawn's changes
 *
 */
#login-google-button {
    /* position: absolute; */
    background: url('Images/google_sign_in.svg') 50% 50% no-repeat;
    background-size: contain;
    border-color: transparent;
    border-radius: 5vw;
    flex-grow: 1;
    font-size: 2vh;
    margin: 1vh auto;
    width: 100%;
    height: 7vh;
    /* top: 100%; */
}
#divider-line {
    padding-top: 5px;
    width: 90%;
    height: 12px;
    border-bottom: 1px solid #585858;
    text-align: center;
    margin: auto;
}
#divider-text {
    font-size: 12px;
    color: #585858;
    background-color: white;
    padding: 0 10px;
}

#login-button {
    /* position: absolute; */
    background-color: #38b593;
    color: white;
    border-color: transparent;
    border-radius: 5vw;
    flex-grow: 1;
    font-size: 2vh;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    height: 6vh;
    width: 70%;
    transition: all 0.3s ease 0s;
    /* top: 100%; */
}
/* this code taken from https://codepen.io/seme332/pen/reJOwo */
#login-button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

.input-icons {
    background-color: #f4f4f4;
    border-radius: 0.5vw;
    border-color: transparent;
    display: flex;
    font-size: 1.5vh;
    height: 5vh;
    width: 100%;
}

input {
    background-color: #f4f4f4;
    border-color: transparent;
    width: 100%;
}

input[type='email']:focus {
    border: 1px solid #555;
}

.left-icons img {
    width: 90%;
    height: 60%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20%;
    flex-grow: 1;
    vertical-align: middle;
    opacity: 50%;
}

.right-icons {
    width: 10%;
    height: 70%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2%;
    flex-grow: 1;
    opacity: 50%;
}

#sign-up-text {
    font-size: 1.5vh;
    flex-grow: 2;
    margin-top: 15px;
    text-align: left;
}
#signup-button {
    position: right;
    background-color: white;
    color: #38b593;
    border-color: white;
    border-style: solid;
    flex-grow: 1;
    font-size: 1.5vh;
    box-shadow: none;
    right: 1.5vh;
}
#signup-button:hover {
    text-decoration: underline;
}

#passConfirm {
    display: none;
    margin-top: 3%;
}

#passReq {
    display: none;
    margin-top: 2%;
    font-size: 1.3vh;
    flex-grow: 2;
    text-align: left;
}

.flex-box {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #38b593;
    color: white;
    margin-bottom: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    /* height: 10%; */
    left: 40%;
    right: 0px;
    position: absolute;
}

/* The close button */
.closebtn {
    margin-left: 10%;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#notes-dino {
    background-color: black;
}
